extends layout

block content
  h1= Credits

  h2 #{title}
  ul
    li Thanks to 
      a(href="http://www.painsurprises.fr/jacques--pain-surprises.html") Jacques for his nice music
    li Thanks to 
      a(href="https://codepen.io/hi-im-si/pen/DHoup") DHoup for the simple Typewriter effect
    li Thanks to 
      a(href="https://github.com/felixturner") Felix Turner for his shaders and gif photo booth
    li Thanks to Jürg Lehni & Jonathan Puckey for 
      a(href="http://paperjs.org/") Paper.js